.bank-account-prefabs
{
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 3px;
	padding: 15px;
	font-family:"Playfair Display", serif; 
	display: flex;
	padding: 5px;
	justify-content: space-evenly;
	align-items: center;
	width:65%;
}

.bank-account-balance-total-amount
{
	color:green;
	display:inline-block;
	position: relative;
	left: 10px;
	font-family:"Playfair Display", serif; 
}

.bank-account-prefab-balance
{
	color:green;
	font-family:"Playfair Display", serif; 
}

.bank-account-balance-total-title
{
	display:inline-block;
}

.bank-account-create-new
{
	margin: 0 auto;
}

#bank-account-user-info-top
{
	text-align: center;
}

#bank-account-sign-out-button
{
	position: relative;
	display: inline-block;
	top: -85px;
	float: right;
}

#username-heading
{
	position: relative;
	top: -70px;
	left: -25px;
	display: inline-block;
	float: right;
}