#login-container
{
	position:absolute;
	width:30%;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background: transparent;
	border-radius:3px;
	padding:70px 100px 20px;
}

#login-signIn-title
{
	color: black;
	font-weight: bold;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

#signUp-link-div
{
	border: none;
	text-align: center;
}

#errorMessage-text
{
	color: red;
}

.login-input-container
{
	position:relative;
	margin-bottom:25px;
	font-family:"Playfair Display", serif; 
}

.login-input-container label
{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#ff7300;	
	transition: all 0.5s ease-in-out;
}

.login-input-container input
{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color: black;
}

.login-input-container input:focus
{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.login-input-container input:focus ~ label,
.login-input-container input:valid ~ label
{
	top:-12px;
	font-size:12px;
}