#login-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

#login-container .title {
  margin: 1rem 0;
}

#login {
  border: 1px solid black;
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
}

#login input {
  margin: 0.125rem 0 0.5rem 0;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
}
